.select {
    cursor: pointer;
    margin-left: 10px;
    height: 40px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
}
